<div class="row">
    <div class="col-12 text-right">
        <div class="btn-group" role="group">
            {% for action in order.availableActions %}
                {% if action.options %}
                    <div class="btn-group" role="group">
                        <button class="btn btn-sm btn-{{ action.btnClass }} dropdown-toggle" type="button" id="{{ action.label }}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{ action.label }}
                        </button>
                        <div class="dropdown-menu border border-{{ action.btnClass }}" aria-labelledby="{{ action.label }}">
                            {% for option in action.options %}
                                <a href="#" class="action dropdown-item text-{{ option.btnClass }}" data-action="{{ option.action }}" data-apiaction="{{ option.apiAction|number_format }}" data-form="{{ option.formFields|json_encode }}" data-urlparams="{{ option.urlParams }}">{{ option.label }}</a>
                            {% endfor %}
                        </div>
                    </div>
                {% else %}
                    <a href="#" class="action btn btn-sm btn-{{ action.btnClass }}" data-action="{{ action.action }}" data-apiaction="{{ action.apiAction|number_format }}" data-form="{{ action.formFields|json_encode }}" data-urlparams="{{ action.urlParams }}">{{ action.label }}</a>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
